.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: calc(5 * var(--space-xxxl));
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 720px) {
  .imageWrapper {
    flex-direction: row;
    min-height: calc(6 * var(--space-xxxl));
  }

  .contentWrapper {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .actionWrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    text-align: right;
    margin-top: var(--space-0);
  }
}

.h2.h2,
.h3.h3 {
  margin: var(--space-0);
}

.h2.h2 {
  margin-bottom: calc(-1 * var(--space-xs));
}

.h2.h2 > span,
.h2.h2 a,
.h2.h2 a:active,
.h2.h2 a:hover,
.h2.h2 a:visited {
  color: var(--gray-800);
  background-color: var(--white);
  text-decoration: none;
}

.h3.h3 > span,
.h3.h3 a,
.h3.h3 a:active,
.h3.h3 a:hover,
.h3.h3 a:visited {
  background-color: var(--gray-800);
  color: var(--effort-background);
  text-decoration: none;
}

.descriptionWrapper {
  composes: wrapper from '../atoms.module.css';
  padding: var(--space-0) var(--space-m);
  margin-top: calc(-1 * calc(var(--space-m) + var(--space-s)));
}

@media (min-width: 720px) {
  .descriptionWrapper {
    padding: var(--space-0) calc(var(--space-xxxl) + var(--space-m));
  }
}

.description {
  padding: var(--space-s);
  background-color: var(--white);
  box-shadow: var(--box-shadow-light);
}

.button {
  composes: actionButton from '../atoms.module.css';
  display: inline-block;
  margin-bottom: calc(var(--space-l) + var(--space-xxxs));
}

@media (min-width: 720px) {
  .button {
    margin-top: var(--space-0);
  }
}
