.headline {
  display: block;
  margin: calc(-1 * var(--space-xs)) var(--space-0);
  line-height: calc(var(--space-l) + var(--space-xs));
  font-size: var(--size-l);
  max-width: 80%;
}

@media (min-width: 480px) {
  .headline {
    max-width: 60%;
  }
}

@media (min-width: 720px) {
  .headline {
    max-width: 40%;
  }
}

.headline span {
  background-color: var(--effort-background);
  padding: var(--space-xxs) var(--space-xs);
  box-decoration-break: clone;
  /* -webkit-box-decoration-break: clone; */
}

.subline {
  margin: var(--size-0);
  font-size: var(--size-m);
  line-height: var(--space-l);
  font-weight: bold;
  color: var(--purple-800);
}

.explanation {
  margin: var(--size-0);
  font-size: var(--size-m);
  line-height: var(--space-l);
  color: var(--gray-700);
}

.explanation a {
  color: var(--purple-600);
}

.explanation a:hover {
  color: var(--purple-400);
}
