.headline {
  display: block;
  margin: calc(-1 * var(--space-xs)) var(--space-0)
    calc(calc(-1 * var(--space-xs) + var(--space-m)));
  font-weight: bold;
}

.headline > span {
  padding: var(--space-xxs) var(--space-xs);
  box-decoration-break: clone;
}

.h1 {
  composes: headline;
  line-height: calc(var(--size-xxl) + var(--space-xxs));
  font-size: var(--size-xxl);
}
.h1 span,
.h1 a,
.h1 a:active,
.h1 a:hover,
.h1 a:visited {
  color: var(--gray-800);
  background-color: var(--effort-background);
}

.h2 {
  composes: headline;
  line-height: calc(var(--size-l) + var(--space-s) + var(--space-xxxs));
  font-size: var(--size-l);
}
.h2 span,
.h2 a,
.h2 a:active,
.h2 a:hover,
.h2 a:visited {
  background-color: var(--gray-800);
  color: var(--effort-background);
}

.h3 {
  composes: headline;
  line-height: calc(var(--size-m) + var(--space-s) + var(--space-xxs));
  font-size: var(--size-m);
}
.h3 span,
.h3 a,
.h3 a:active,
.h3 a:hover,
.h3 a:visited {
  background-color: var(--purple-800);
  color: var(--white);
}

.h4 {
  margin: var(--space-0) var(--space-0) var(--space-m);
  line-height: calc(var(--size-m) + var(--space-s));
  font-size: var(--size-m);
  font-weight: bold;
  color: var(--purple-800);
}
.h4 a,
.h4 a:active,
.h4 a:hover,
.h4 a:visited {
  color: var(--purple-800);
}

.muted {
  margin: var(--size-0);
  font-size: var(--size-m);
  line-height: var(--space-l);
  color: var(--gray-700);
}

.muted a,
.muted a:active,
.muted a:visited {
  color: var(--purple-600);
}

.muted a:hover {
  color: var(--purple-400);
}

.narrow {
  max-width: 80%;
}

@media (min-width: 480px) {
  .narrow {
    max-width: 60%;
  }
}

@media (min-width: 720px) {
  .narrow {
    max-width: 40%;
  }
}
