.checkboxWrapper {
  display: inline-block;
  width: var(--space-xxxl);
  height: var(--space-l);
  /* border: var(--border-width-thin) solid var(--gray-300); */
  border-radius: var(--border-radius-pill);
  background: var(--gray-100);
  box-shadow: var(--box-shadow-light);
  overflow: hidden;
}

.checkbox {
  display: none;
}

.label {
  position: relative;
  display: block;
  /* top: calc(-1 * var(--border-width-thin)); */
  width: var(--space-xxxl);
  height: var(--space-l);
  text-indent: -9999px;
  border-radius: var(--border-radius-pill);
  cursor: pointer;
}

.label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--space-l);
  height: var(--space-l);
  background: var(--purple-800);
  border: var(--border-width-wide) solid var(--white);
  border-radius: var(--border-radius-pill);
  transition: 0.125s;
}

.checkbox:checked + .label {
  background: var(--effort-background);
}

.checkbox:checked + .label:after {
  /* left: calc(3em - calc(2 * var(--border-width-thin))); */
  left: var(--space-xxxl);
  transform: translateX(-100%);
}
