.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
}

.paragraph {
  margin-top: var(--space-0);
  text-align: center;
  color: var(--headline-color);
}

.emailInput {
  composes: input from '../atoms.module.css';
}

.submitButton {
  composes: ctaButton from '../atoms.module.css';
}

.hiddenField {
  position: absolute;
  left: -9999px;
}
