.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc(var(--space-xs) + var(--space-xxs));
}

.inputWrapper {
  display: flex;
  flex-direction: row;
}

.paragraph {
  margin-top: var(--space-0);
  text-align: center;
}

.emailInput {
  composes: input from '../atoms.module.css';
}

.submitButton {
  composes: actionButton from '../atoms.module.css';
}

.hiddenField {
  position: absolute;
  left: -9999px;
}
