.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 5em;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
}

.paragraph {
  margin: 2em 0 1.5em;
  text-align: center;
}

.emailInput {
  composes: input from '../atoms.module.css';
}

.submitButton {
  composes: button from '../atoms.module.css';
}

.hiddenField {
  position: absolute;
  left: -5000px;
}
