/* bootstrapped using http://danielstern.ca/range.css/ */

.slider {
  width: 100%;
  height: 1.5em;
  border: 0;
  border-radius: var(--border-radius-pill);
  overflow: hidden;
  padding: 0;
  box-shadow: var(--box-shadow-light);
  appearance: none;
}

.slider:focus,
.slider:focus-within {
  outline: none;
  box-shadow: var(--box-shadow-medium);
}

/* Chrome/Safari/Opera/ModernEdge styles */

.slider::-webkit-slider-runnable-track {
  background: var(--gray-100);
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  width: 1.5em;
  height: 1.5em;
  background: var(--purple-800);
  border: var(--border-width-wide) solid var(--white);
  border-radius: var(--border-radius-pill);
  box-shadow: -1000em 0 0 999.25em var(--effort-background);
  cursor: pointer;
  -webkit-appearance: none;
}

.slider:focus::-webkit-slider-runnable-track {
  background: var(--gray-100);
}

/* Firefox styles */

.slider::-moz-focus-outer {
  border: 0;
}

.slider::-moz-range-track {
  background: var(--gray-100);
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.25em;
  height: 1.25em;
  background: var(--purple-800);
  border: var(--border-width-wide) solid var(--white);
  border-radius: var(--border-radius-pill);
  box-shadow: -1000em 0 0 999em var(--effort-background);
  cursor: pointer;
}

/* Legacy Edge styles */

.slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}

.slider::-ms-fill-lower {
  background: var(--effort-background);
  /* border: 1px solid var(--effort-background); */
}

.slider::-ms-fill-upper {
  background: var(--gray-100);
  /* border: 1px solid var(--effort-background); */
}

.slider::-ms-thumb {
  width: 1.5em;
  height: 1.5em;
  background: var(--purple-800);
  border: var(--border-width-wide) solid var(--white);
  border-radius: var(--border-radius-pill);
  cursor: pointer;
  margin-top: 0;
}

.slider:focus::-ms-fill-lower {
  background: var(--effort-background);
}

.slider:focus::-ms-fill-upper {
  background: var(--gray-100);
}

@supports (-ms-ime-align: auto) {
  .slider {
    margin: 0;
  }
}

.slider::-ms-track {
  background: var(--gray-100);
  color: transparent;
  height: 1.5em;
  border: none;
}

.slider::-ms-ticks-after,
.slider::-ms-ticks-before,
.slider::-ms-tooltip {
  display: none;
}
