.pageWrapper {
  overflow: hidden;
  height: 100%;
}

.headerWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  --mark-transition: none;
  --typemark-size: 1.5em;
  --logomark-size: 3em;
}

.smallHeaderWrapper {
  composes: headerWrapper;
  box-shadow: var(--box-shadow-light);
}

@media (min-width: 480px) {
  .headerWrapper {
    transition: height 125ms;
    --mark-transition: height 125ms;
  }
  .smallHeaderWrapper {
    transition: height 125ms;
    --mark-transition: height 125ms;
    --typemark-size: 1.2em;
    --logomark-size: 2em;
  }
}

.headerContent {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.headerLogos {
  width: 100%;
  line-height: var(--space-0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.typemark {
  height: var(--typemark-size);
  transition: var(--mark-transition);
}

.logomark {
  height: var(--logomark-size);
  transition: var(--mark-transition);
}

.spinner {
  composes: rotate from '../atoms.module.css';
}

.mainWrapper {
  margin-top: calc(var(--space-xxl) + var(--space-s) + var(--space-xs));
  width: 100%;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.compliance {
  padding-top: var(--space-m);
  background-color: var(--gray-800);
}

.compliance a,
.compliance a:visited {
  color: var(--gray-300);
}

.compliance a:active,
.compliance a:hover {
  color: var(--white);
}

.menu,
.social {
  margin-bottom: var(--space-xl);
}

.association {
  margin-bottom: var(--space-l);
  text-align: center;
}

.associationMark {
  height: var(--space-xxxl);
}

@media (min-width: 480px) {
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .content > div {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: var(--space-0);
  }

  .social {
    text-align: center;
  }

  .association {
    margin: var(--space-0);
    text-align: right;
  }
}
