.pageWrapper {
  overflow: hidden;
}

.headerWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  z-index: 999;
  background-color: var(--white);
  transition: 250ms;
  --typemark-size: 1.5em;
  --logomark-size: 3em;
}

.smallHeaderWrapper {
  composes: headerWrapper;
  box-shadow: var(--box-shadow-light);
  height: 3em;
  --typemark-size: 1.2em;
  --logomark-size: 2em;
}

.mainWrapper {
  margin-top: calc(var(--space-xxl) + var(--space-s) + var(--space-xs));
  width: 100%;
}

.footerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerContent {
  padding-top: var(--space-s);
  padding-bottom: var(--space-0);
}

.headerLogos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.typemark {
  height: var(--typemark-size);
  transition: 250ms;
}

.logomark {
  height: var(--logomark-size);
  transition: 250ms;
}

.spinner {
  composes: rotate from '../atoms.module.css';
}

.newsletter {
  width: 100%;
  background-color: var(--gray-300);
}

.compliance {
  background-color: var(--gray-200);
}

.menu,
.social {
  margin-bottom: var(--space-xl);
}

.association {
  margin-bottom: var(--space-l);
  text-align: center;
}

.associationMark {
  height: var(--space-xxxl);
}

@media (min-width: 480px) {
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .content > div {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: var(--space-0);
  }

  .social {
    text-align: center;
  }

  .association {
    margin: var(--space-0);
    text-align: right;
  }
}
