.headerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainWrapper {
  width: 100%;
}

.footerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerContent {
  padding-bottom: var(--space-0);
}

.logo {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.typemark {
  height: var(--space-l);
}

.logomark {
  height: var(--space-xxxl);
}

.newsletter {
  background-color: var(--purple-200);
}

.footer {
  width: 100%;
  background-color: var(--purple-200);
}
