.headerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainWrapper {
  width: 100%;
}

.footerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerContent {
  padding-bottom: var(--space-0);
}

.logo {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.typemark {
  height: var(--space-l);
}

.logomark {
  height: var(--space-xxxl);
}

.newsletter {
  width: 100%;
  background-color: var(--gray-300);
}

.compliance {
  background-color: var(--gray-200);
}

.menu,
.social {
  margin-bottom: var(--space-xl);
}

.association {
  margin-bottom: var(--space-l);
  text-align: center;
}

.associationMark {
  height: var(--space-xxxl);
}

@media (min-width: 480px) {
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .content > div {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: var(--space-0);
  }

  .social {
    text-align: center;
  }

  .association {
    margin: var(--space-0);
    text-align: right;
  }
}
