.headerWrapper {
  composes: wrapper from '../atoms.module.css';
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainWrapper {
  composes: wrapper from '../atoms.module.css';
  padding-top: var(--space-0);
  padding-bottom: var(--space-0);
}

.footerWrapper {
  composes: wrapper from '../atoms.module.css';
  display: flex;
  flex-direction: column;
  padding-top: var(--space-0);
  padding-bottom: var(--space-0);
}

@media (min-width: 480px) {
  .headerWrapper,
  .mainWrapper,
  .footerWrapper {
    max-width: 900px;
    margin: var(--space-0) auto;
  }
}

.logo {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.typemark {
  height: var(--space-l);
}

.logomark {
  height: var(--space-xxxl);
}

.newsletter {
  background-color: var(--purple-200);
}

.footer {
  composes: wrapper from '../atoms.module.css';
  background-color: var(--purple-200);
}
