.input {
  margin-right: var(--space-s);
  appearance: none;
  outline: 0;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  padding: var(--space-xs) var(--space-s);
  background-color: var(--white);
}

.input:focus {
  box-shadow: var(--box-shadow-medium);
}

.button {
  appearance: none;
  outline: 0;
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  padding: var(--space-xs) var(--space-m);
  background-color: var(--button-background);
  box-shadow: var(--box-shadow-light);
  color: var(--white);
  cursor: default;
}

.button:focus {
  box-shadow: var(--box-shadow-medium);
}

.button:hover {
  text-decoration: none;
  color: var(--white);
}

.actionButton {
  composes: button;
  border: var(--button-border-cta);
  font-weight: bold;
}

.wrapper {
  width: 100%;
  padding: var(--space-m);
}

@media (min-width: 480px) {
  .wrapper {
    max-width: 900px;
    margin: var(--space-0) auto;
  }
}
