.wrapper {
  composes: wrapper from '../atoms.module.css';
  margin-top: var(--space-m);
  background-color: var(--effort-background);
  font-size: var(--size-s);
}

.card {
  margin-bottom: var(--space-xl);
}
