.wrapper {
  background-color: var(--effort-background);
}

.headline,
.headline span {
  padding: var(--space-0);
  margin-bottom: var(--space-l);
}

.card {
  margin-bottom: var(--space-xl);
}

.card:last-of-type {
  margin-bottom: var(--space-l);
}

.button {
  display: inline-block;
  margin: var(--space-0) auto var(--space-xl);
  font-weight: bold;
  cursor: pointer;
}

.spinner {
  composes: rotate from '../atoms.module.css';
  display: block;
  height: var(--space-xxl);
  margin: var(--space-m) auto;
}

.spinnerWrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--effort-background);
  opacity: 0.75;
}

.transparentWrapper {
  opacity: 0;
  transition: opacity 500ms;
}
