.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding: var(--space-m);
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.5px) grayscale(50%);
  opacity: 1;
  transition: background-color 125ms, opacity 125ms;
}

.hiddenWrapper {
  composes: wrapper;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.modal {
  composes: wrapper from '../atoms.module.css';
  margin: auto;
  overflow: scroll;
  max-width: 90%;
  background-color: var(--white);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-heavy);
}

@media (min-width: 480px) {
  .modal {
    max-width: calc(900px * 0.75);
  }
}
