@import 'sanitize';
@import 'sanitize/forms';
@import 'sanitize/typography';

@import '../tokens.css';

html {
  font-size: 16px;
}

@media (min-width: 480px) {
  html {
    font-size: 18px;
  }
}

body {
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: 0.125s;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}
