.columns {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: flex-start;
  margin: 0 0 1.25em;
}

.questionColumn {
  flex-grow: 1;
  padding-right: 2em;
  cursor: pointer;
}

.checkboxColumn {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 3em;
}

.submitButton {
  composes: button from '../atoms.module.css';
  display: block;
  margin: 0 auto;
}
